{% for news in news_list %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        {% if news.image %}
          <img src="{{ news.image.url }}" class="card-img" alt="{{ news.title }}" />
        {% else %}
          <img src="/media/news/na.jpeg" class="card-img" alt="Default Image" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ news.title }}</h2>
          <p class="card-text">{{ news.body|truncatewords:20 }}</p>
          <a href="{% url 'news_detail' news.id %}" class="btn btn-outline-secondary">Leer más</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
