  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Vs</th>
        <th class="text-center">Hc</th>
        <th class="text-center">Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules %}
        <tr>
          <td class="text-center">{{ schedule.vs }} ({{ schedule.vs.abbrev }})</td>
          <td class="text-center">{{ schedule.hc }} ({{ schedule.hc.abbrev }})</td>
          <td class="text-center">{{ schedule.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
