{% load static %}

<table class="table table-bordered table-condensed shadow-sm">
  <thead>
    <tr>
      <th class="text-center">Orden</th>
      <th class="text-center"></th>
      <th class="text-center">Equipo</th>
      <th class="text-center">Ptos</th>
      <th class="text-center">PJ</th>
      <th class="text-center">PG</th>
      <th class="text-center">PE</th>
      <th class="text-center">PP</th>
      <th class="text-center">GF</th>
      <th class="text-center">GC</th>
      <th class="text-center">Dif</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in standings %}
      <tr {% if forloop.counter <= 8 %}style="background-color: #ADD8E6;"{% endif %}>
        <td class="text-center align-middle" >{{ forloop.counter }}</td>
        <td class="text-center align-middle">
          <img style="height: 24; width: 24px" src="{% static 'futbol/images/logos/' %}{{ standing.team.imagen|default:'na' }}.png" class="rounded" alt="Logo" />
        </td>
        <td class="text-center align-middle">{{ standing.team }}</td>
        <td class="text-center align-middle">{{ standing.pts }}</td>
        <td class="text-center align-middle">{{ standing.pj }}</td>
        <td class="text-center align-middle">{{ standing.pg }}</td>
        <td class="text-center align-middle">{{ standing.pe }}</td>
        <td class="text-center align-middle">{{ standing.pp }}</td>
        <td class="text-center align-middle">{{ standing.gf }}</td>
        <td class="text-center align-middle">{{ standing.gc }}</td>
        <td class="text-center align-middle" style="color: {% if standing.gdif < 0 %}red{% elif standing.gdif > 0 %}green{% endif %}">
          {{ standing.gdif }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>