{% load static %}

{{ from }}
{{ to }}

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Equipo</th>
      <th class="text-center">Goles Totales</th>
      <th class="text-center">Penaltis</th>
    </tr>
  </thead>
  <tbody>
    {% for goal in goals %}
      <tr>
        <td class="text-center">
          <img style="height: 48; width: 48px" src="{% static 'images/players/' %}{{ goal.player__imagen|default:'na' }}.png" class="rounded" alt="Logo" /> <br />
        </td>
        <td class="text-center align-middle">{{ goal.player__name }}</td>
        <td class="text-center align-middle">
          <img style="height: 24; width: 24px" src="{% static 'images/logos/' %}{{ goal.player__team__imagen|default:'na' }}.png" class="rounded" alt="Logo" />
          {{ goal.player__team__name }}
        </td>
        <td class="text-center align-middle">{{ goal.goals }}</td>
        <td class="text-center align-middle">{{ goal.penalties }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
