<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <title>
      {% block title %}
        MarxLeague - Página Principal
      {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      {% block sidebar %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#">MarxLeague</a>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link" href="#">Inicio</a>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'standings_page' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'schedule_page' %}">Resultados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stats_page' %}">Estadísticas</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>

      <!-- Floating WhatsApp Button -->
      {% comment %} <a href="https://api.whatsapp.com/send?phone=56469646&amp;text=Hola" target="_blank" class="btn btn-success floating-button"><i class="fab fa-whatsapp"></i> Enviar Comentario</a> {% endcomment %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>

{% comment %} <div class="row">
  <div class="col">
    <h1 class="text-center">Que es la MarxLeague?</h1>
    <p class="lead">¡Bienvenidos a MarxLeague, la liga de fútbol más emocionante de nuestra escuela! En MarxLeague, equipos de diferentes años se unen para competir y crear increíbles relaciones entre todos los miembros de nuestra escuela. Imagina enfrentarte a jugadores de diferentes grados y compartir momentos de pura pasión por el fútbol. Nuestra liga no solo se trata de ganar partidos, sino de construir amistades duraderas y aprender juntos. Cada partido es una oportunidad para demostrar nuestras habilidades, divertirnos y celebrar la camaradería. ¡Únete a MarxLeague y sé parte de esta increíble experiencia futbolística en nuestra escuela!</p>
  </div>
</div> {% endcomment %}
