{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
  My amazing blog
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-2">
      <div class="col-md d-flex align-items-center justify-content-center">
        <img style="height: 100px; width: 100px" src="/static/futbol/images/logos/ton.png" class="rounded" alt="Logo" />
        <h3 class="text-center">Tonicones Campeón!!<br><small class="text-muted">MiniTorneo</small></h3>
      </div>
      <div class="col-md d-flex align-items-center justify-content-center">
        <img style="height: 200px; width: 200px" src="/static/futbol/images/teams/tonicones_campeon.jpeg" class="rounded" alt="Logo" />
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md">
        <h3>Equipos</h3>
        <div class="row row-cols">
          {% for team in teams %}
            <div class="col text-center mt-2">
              <a href="{% url 'team_details_page' team.id  %}">
                <div class="d-flex flex-column align-items-center">
                  <img style="height: 48px; width: 48px" src="{% static 'futbol/images/logos/' %}{{ team.imagen|default:'na' }}.png" class="rounded" alt="Logo" />
                  {{ team.name }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr />
    <div class="row mt-2">
      <div class="col-md">
        <h3>Próximos partidos</h3>
        {{ schedules }}
      </div>
      <div class="col-md"></div>
    </div>
    <hr />
    <footer class="bg-light text-black">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-4">
            <h5>Información de contacto</h5>
            {% comment %} <p>Email: example@example.com</p> {% endcomment %}
            <p> <i class="fa fa-whatsapp" aria-hidden="true"></i>
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              +53 56469646
            </p>
           
            <p>Dirección: Reparto Armando Mestre, Matanzas</p>
            <p>Google Maps: <a href="https://maps.app.goo.gl/WGDkYqA9VvewT6i7A">https://maps.app.goo.gl/WGDkYqA9VvewT6i7A</a> </p>
            
          </div>
          <div class="col-md-4">
            <!-- Additional footer content or links can be added here -->
          </div>
          <div class="col-md-4">
            <!-- Additional footer content or links can be added here -->
          </div>
        </div>
      </div>
      <div class="text-center p-3 bg-secondary">
        {% comment %} <p>&copy; 2023 Your Company. All rights reserved.</p> {% endcomment %}
        <p>&copy; 2023 Vocacional Karl Marx.</p>
      </div>
    </footer>
  </div>
{% endblock %}
