{% extends './base.html' %}

{% block title %}
  My amazing blog
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <h3>Reglamento</h3>
        <ul>
          <li>Las reglas del fútbol sala prohíben el contacto físico brusco y promueven el juego limpio. Los jugadores no pueden utilizar las manos, excepto el portero dentro de su área.</li>
          <li>El tiempo de juego se divide en dos mitades de 20 minutos cada una, con un descanso de 10 minutos. Se sancionan las faltas con tiros libres o penales.</li>
          <li>El objetivo es marcar más goles que el equipo contrario. En caso de empate, se pueden jugar tiempos extras o recurrir a una tanda de penales para decidir al ganador.</li>
          <li>El fútbol sala fomenta el trabajo en equipo, la habilidad técnica y la estrategia en un formato emocionante y competitivo.</li>
        </ul>
        <p>Si esto no está bien, es culpa de William. XD</p>


         sdakflaskdjfsdfasfsdf 

         
      </div>
    </div>
  </div>
{% endblock %}
